<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--
		<section name = "InitialFolder" type = "System.Configuration.SingleTagSectionHandler"/>
		
		<sectionGroup name = "Phones">
			<section name = "Phone" type = "System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		-->
		<section name="Phones" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<!--
	<InitialFolder setting1 = "Value1" setting2="value two" setting3 ="third value"/>
	<Phones>
		<Phone>
			<add key = "Name" value = V3i"/>
			<add key = "Format" value = "Motorola"/>
		</Phone>
		<Phone>
			<add key = "Name" value = 6230"/>
			<add key = "Format" value = "Nokia"/>
		</Phone>
		<Phone>
			<add key = "Name" value = 7600"/>
			<add key = "Format" value = "Nokia"/>
		</Phone>
		<Phone>
			<add key = "Name" value = 7250i"/>
			<add key = "Format" value = "Nokia"/>
		</Phone>
		<Phone>
			<add key = "Name" value = 8310i"/>
			<add key = "Format" value = "Nokia"/>
		</Phone>
		<Phone>
			<add key = "Name" value = 7110e"/>
			<add key = "Format" value = "Nokia"/>
		</Phone>
	</Phones>
	-->
	<Phones>
		<add key="N91" value="Nokia" />
		<add key="V3i" value="Motorola" />
		<add key="6230" value="Nokia" />
		<add key="7600" value="Nokia" />
		<add key="7250i" value="Nokia" />
		<add key="8310i" value="Nokia" />
		<add key="7110e" value="Nokia" />
		<add key="Written Archive" value="Nokia" />
	</Phones>
	
	<appSettings>
		<add key="author" value="Bhavesh Patel" />
		<add key="InitialFolder" value="..\..\..\Messages" />
		<add key="Contacts" value = "..\..\..\Contacts\" />
		<add key="ArchivePath" value = "..\..\..\Messages.rar" />
	</appSettings>
</configuration>